========
Overview
========

..
    FIXME Add `version` to README document

##{{ project_name }}

{{ short_description|wordwrap(119) }}

Installation
============

::

    pip install {{ package_name }}
