[bumpversion]
current_version = 0.10.0
commit = True
tag = True

[bumpversion:file:setup.py]

[bumpversion:file:docs/conf.py]

[bumpversion:file:src/protean/__init__.py]

[bumpversion:file:src/protean/template/{{package_name}}/setup.py.jinja]

[bumpversion:file:docs/user/installation.rst]
