[paths]
source =
   src/protean
   */site-packages/protean

[run]
branch = true
source =
    protean
    tests
parallel = true
omit =
    */__main__.py
    src/protean/utils/inflection.py
    src/protean/utils/local.py

[report]
show_missing = true
precision = 2
omit = *migrations*

