"""Projector for updating ExampleSummary projection."""

from protean.core.projector import on

from {{ package_name }}.domain import {{ domain_name }}

from .aggregate import Example
from .events import ExampleCreated
from .projection import ExampleSummary


@{{ domain_name }}.projector(projector_for=ExampleSummary, aggregates=[Example])
class ExampleProjector:
    """Update ExampleSummary projection based on Example events."""

    @on(ExampleCreated)
    def on_example_created(self, event: ExampleCreated) -> None:
        """Create a new projection when Example is created."""
        projection = ExampleSummary(
            example_id=event.example_id,
            name=event.name,
            status="DRAFT",
            created_at=event.created_at,
        )

        repo = {{ domain_name }}.repository_for(ExampleSummary)
        repo.add(projection)
