"""Value objects for the Example aggregate."""

from typing import Annotated

from pydantic import Field

from {{ package_name }}.domain import {{ domain_name }}


@{{ domain_name }}.value_object
class Address:
    """Example value object for demonstration."""

    street: Annotated[str, Field(max_length=100)] | None = None
    city: Annotated[str, Field(max_length=50)] | None = None
    state: Annotated[str, Field(max_length=50)] | None = None
    postal_code: Annotated[str, Field(max_length=10)] | None = None
    country: Annotated[str, Field(max_length=50)] | None = "USA"