"""Projections for read models and their projectors."""
{%- if include_example %}

from .example_projector import ExampleProjector
from .example_summary import ExampleSummary

__all__ = ["ExampleSummary", "ExampleProjector"]
{%- else %}

# Import your projections and projectors here
# from .user_summary import UserSummary, UserProjector

__all__ = []
{%- endif %}